# .pre-commit-config.yaml
# See https://pre-commit.com/
default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=2000"]
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.11
    hooks:
      - id: ruff-format
        args: [--config=.ruff.toml]

      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --config=.ruff.toml]

  - repo: https://github.com/doublify/pre-commit-rust
    rev: master
    hooks:
      - id: fmt
      - id: clippy
        args: ["--all-features", "--", "--write"]
      - id: cargo-check

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.2
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ commit-msg ]
